body {
  margin: 20px;
  padding: 0;
  max-width: 800px;
  line-height: 125%;
}

header {
  text-align: center;
}

h1 {
  font-family: Georgia, serif;
}

h2 {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: #3D477B;
}

a:hover {
  text-decoration: underline;
}

p {
  font-family: Times New Roman, Helvetica;
  font-size: 17px;
}

.left {
  float: left;
  width: 60%;
}

.right {
  float: right;
  width: 30%;
}

div #container {
  max-width: 80%;
}

div #menu
table td {
  text-align: center;
  margin-bottom: 20px;
  font-family: Helvetica, sans-serif;
}

code {
  font-family: Monaco;
  font-size: 80%;
}

img {
  width: 100%;
}