body {
  margin: 20px;
  padding: 0;
  line-height: 125%;
}

header {
  text-align: center;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 5px;
}

h3, h4 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: #3D477B;
}

a:hover {
  text-decoration: underline;
}

p {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}

code {
  font-family: Monaco;
  font-size: 80%;
}

img {
  width: 100%;
  -webkit-box-shadow: 0 0 7px;
  box-shadow: 0 0 7px;
}

time {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 11px;
  font-style: italic;
  color: #808080;
}

.left {
  float: left;
  width: 60%;
}

.right {
  float: right;
  width: 30%;
}

.byline {
  font-size: 12px;
  text-align: center;
}

.related_post {
  font-size: 13px;
}

#container {
  max-width: 900px;
  margin: auto;
}

#menu
table td {
  text-align: center;
  margin-bottom: 20px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#tweet {
  position: fixed;
  top: 10px;
  right: 10px;
}

#rss_icon_main {
  position: fixed;
  top: 80px;
  right: 20px;
}

#dates {
  line-height: 8px;
  border-bottom: none;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
}