body {
  margin: 20px;
  padding: 0;
  line-height: 125%;
}

header {
  text-align: center;
}

h1 {
  font-family: Georgia, serif;
}

h2 {
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: #3D477B;
}

a:hover {
  text-decoration: underline;
}

p {
  font-family: Lucida Grande, Helvetica;
  font-size: 14px;
}

.left {
  float: left;
  width: 60%;
}

.right {
  float: right;
  width: 30%;
}

#container {
  max-width: 800px;
}

#menu
table td {
  text-align: center;
  margin-bottom: 20px;
  font-family: Helvetica, sans-serif;
}

code {
  font-family: Monaco;
  font-size: 80%;
}

img {
  margin: auto;
  width: 100%;
}

#tweet {
  position: fixed;
  top: 10px;
  right: 10px;
}