body {
    font-family: "SimSun", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 18px;
    margin: auto;
    padding: 2% 5% 5% 5%;
    width: 50%;
    line-height: 150%;
    border: 1px solid LightGrey;
}

blockquote {
    border-left: 4px lightblue solid;
    padding-left: 5px;
    margin-left: 20px;
}

H2 {
    font-family: "SimSun", "STKai", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-bottom: 60px;
    margin-bottom: 40px;
    padding: 5px;
    border-bottom: 2px LightGrey solid;
    width: 80%;
    line-height: 150%;
    color: DarkGreen;
}


H3 {
    font-family: "SimSun", "STKai", "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 1px LightGrey solid;
    width: 80%;
    line-height: 150%;
    color: #8FBC8F;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

a:visited {
    color: #5D478B;
}

a:hover {
    background-color: LightGrey;
}

pre {
    font-size: 80%;
    background-color: Ivory;
    padding: 5px;
    line-height: 120%;
    border: solid 1px #BEBEBE;
    margin-left: 10px;
    width: 95%;
}

code {
    color: #000000;
    font-size: 90%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
