#rss_icon_main {
        width: 80%;
        height: 80%;
        position: relative;
        overflow: hidden;
}
#rss_icon_main.inside {
        top: 10%;
        left: 10%;
}
#rss_icon_main.inside span {
        border-color: #fff;
}
#rss_icon_main.outside {
        width: 9em;
        height: 9em;
        margin-right: auto;
        margin-left: auto;
}
#rss_icon_main.outside span {
        border-color: #000;
}
#rss_icon_main.outside .circle {
        background-color: #000;
}
.outer_ring, .middle_ring {
        border: 1.5em solid #fff;
}
.outer_ring, .middle_ring, .circle {
        position: absolute;
}
.outer_ring {
        width: 170%;
        height: 170%;
        right: 0;
        top: 0;
-webkit-border-radius: 10.5em;
 -khtml-border-radius: 10.5em;
   -moz-border-radius: 10.5em;
        border-radius: 10.5em;
}
.middle_ring {
        position: absolute;
        width: 110%;
        height: 110%;
        top: 32%;
-webkit-border-radius: 8em;
 -khtml-border-radius: 8em;
   -moz-border-radius: 8em;
        border-radius: 8em;
        right: 32%;
}
.circle {
        width: 30%;
        height: 30%;
-webkit-border-radius: 4em;
 -khtml-border-radius: 4em;
   -moz-border-radius: 4em;
        border-radius: 4em;
        left: 0;
        bottom: 0;
        background-color: #fff;
}
#rss_icon_wrapper.px32 {
        width: 32px;
        height: 32px;
-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
        border-radius: 5px;
        border-width: 2px;
}
#rss_icon_main.outside.px32 {
        width: 32px;
        height: 32px;
}
.px32 .outer_ring {
        border: 4px solid #fff;
-webkit-border-radius: 30px;
   -moz-border-radius: 30px;
        border-radius: 30px;
}
.px32 .middle_ring {
        border: 4px solid #fff;
-webkit-border-radius: 20px;
   -moz-border-radius: 20px;
        border-radius: 20px;
}
.px32 .circle {
        width: 34%;
        height: 34%;
}