<!DOCTYPE html>
<html>

  <head>
  	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  	<title>{{ page.title }}</title>
  	<style type="text/css">

      body {
        margin: 0;
        padding: 0;
      }

      header {
        text-align: center;
      }

      .left {
        float: left;
        
      }

      .right {
        float: right;

      }

      #container {
        max-width: 1000px;
      }
     
  	</style>

  </head>


  <body>
    <div id="container">

      <header id="header">
        <h1><a href="http://www.funnyguo.me/">JING GUO</a></h1>
      </header>

      <section>
        <div class="left">{{content}}</div>

        <div class="right">What a pity, nothing is here.</div>
      </section>

    </div>
  </body>

 </html>