<!DOCTYPE html>
<html>

  <head>
  	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  	<title>{{ page.title }}</title>
  	<style type="text/css">

      body {
        margin: 20px;
        padding: 0;
        max-width: 800px;
      }

      header {
        text-align: center;
      }

      h2 {
        border-bottom: 1px solid #CCCCCC;
      }

      .left {
        float: left;
        width: 60%;
      }

      .right {
        float: right;
        width: 30%;
      }

      div #container {
        max-width: 80%;
      }

      div #menu
      table td {
        text-align: center;
        margin-bottom: 20px;
      }
     
  	</style>

  </head>


  <body>
    <div id="container">

      <header id="header">
        <h1><a href="http://www.funnyguo.me/">JING GUO</a></h1>
      </header>

      <div id="menu">
        <table width="100%">
          <tr>
            <td><a href="">WRITINGS</a></td>
            <td><a href="">CODES</a></td>
            <td><a href="">PHOTOGRAPHY</a></td>
            <td><a href="">ABOUT</a></td>
          </tr>
        </table>
      </div>

      <section>
        <div class="left">
          <h2>{{ page.title }}</h2>
          {{ content }}
        </div>

        <div class="right">
          <h2>Hey you!</h2>
          <div class="bio">
            <p>I'm <strong>Jing Guo</strong> and you are visiting my blog.</p>
        </div>
      </section>

    </div>
  </body>

 </html>